html {
    background-color: white;
}

main {

}
.search {
    display: flex;
    min-height: 80vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    height: 30%;
}

#logo {
}

#search-box {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100vw;
    height: 3em;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#search-box-input {
    width: 40vh;
    height: 3em;
    border-radius: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: #dfe1e5 solid 1px;
}

.buttons {
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #dfe1e5;
    border: #dfe1e5 solid 1px;
    border-radius: 5px;
}

nav {
    text-align: right;
}

footer {
    font-size: smaller;
    text-align: center;
}